<html>
  <head>
    <title>Node Music App</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="audioPlayer">
      <img
        id="audioPlayer_thumbnail"
        src="http://localhost:6060/images/no_thumbnail.png"
        width="160"
        height="100"
      />

      <audio controls oncanplaythrough="changeThumbnail('<%= songId %>')">
        <source
          src="http://localhost:6060/play?id=<%= songId %>"
          type="audio/webm"
        />
      </audio>
    </div>
    <script src="/js/index.js"></script>
  </body>
</html>
