body {
    background-color: darkslategrey;
}

.audioPlayer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#audioPlayer_thumbnail {
    margin: 10px;
    border-radius: 1024px;
}
