:root {
  --primary_gray: #808080;
  --secondary_gray: crimson;
}

body {
  background-color: #262626;
}

.navBar {
  display: flex;
  justify-content: space-between;
  background-color: crimson;
  border-radius: 16px;
}

.navBar-start {
  display: inline-flex;
  flex-direction: row;
  color: white;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.navBar-start-brand {
  display: flex;
  align-items: center;
  padding: 10px 40px;
  transition: 0.2s ease-in-out;
}

.navBar-start-brand:hover {
  transform: scale(1.1);
}

.navBar-start-brand a {
  text-decoration: none;
  color: white;
}

.navBar-start-brand img {
  padding: 10px;
}

.navBar-start-brand h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  margin: 0px;
}

.navBar-start-searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.navBar-start-searchBar {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;

  text-align: left;
  text-decoration: none;

  float: none;

  padding: 12px 36px;

  border-style: none;
  border-color: rgb(128, 128, 128);
  border-radius: 30px;
  border-width: 10px;

  width: 28ch;
  max-width: 32ch;

  transition: 0.2s ease-in-out;

  background: rgb(128, 128, 128);
}

.navBar-start-searchBar::placeholder {
  color: white;
  opacity: 50%;
}

.navBar-start-searchBar:hover {
  cursor: pointer;
  outline: 2px solid rgba(164, 164, 164);
}

.navBar-start-searchBar:focus-visible {
  cursor: text;
  outline: 2px solid white;
  background: rgb(128, 128, 128);
  width: 32ch;
}

.navBar-end {
  display: inline-flex;
  flex-direction: row-reverse;
  color: white;

  align-items: center;
}

.navBar-end-github {
  padding: 20px;
  transition: 0.2s ease-in-out;
}

.navBar-end-github:hover {
  transform: scale(1.1);
}

.mainSection {
  color: white;
}

.searchResults {
  color: white;
  background-color: hsl(0, 0%, 20%);
  position: absolute;
  z-index: 1;

  font-family: "Poppins", sans-serif;
  font-size: 20px;

  /* added padding and margin in index.js*/

  border-radius: 16px;
}

.searchResults-list {
  list-style-type: none;

  max-height: 80vh;

  overflow: scroll;

  border-radius: 6px;

  margin: 0px;
  padding: 0px;
}

.searchResults-list {
  -ms-overflow-style: none;
}
.searchResults-list::-webkit-scrollbar {
  display: none;
}

.searchResults-list li:nth-of-type(odd) {
  background-color: hsl(0, 0%, 30%);
}

.searchResults-list li:nth-of-type(even) {
  background-color: hsl(0, 0%, 40%);
}

.searchResults-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 6px;

  margin: 0px;

  padding: 10px 5px;
}

.searchResults-list-itemStart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 0px 10px;
}

.searchResults-list-itemStart img {
  object-fit: cover;
  border-radius: 10%;
}

.searchResults-list-itemStart p {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.searchResults-list-itemMiddle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  white-space: nowrap;
  overflow: hidden;

  margin: 0px 10px;
}

.searchResults-list-itemMiddle a {
  text-decoration: none;
  color: white;
}

.searchResults-list-itemMiddle h4,
h6 {
  margin: 0px;
  max-width: 60ch;
  width: 60ch;
}

.searchResults-list-itemMiddle h4:hover,
h6:hover {
  opacity: 60%;
}

.searchResults-list-buttons {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;

  margin: 0px 10px;
}

.searchResults-list-buttons img {
  margin: 5px;
  transition: 0.2s ease-in-out;
}

.searchResults-list-buttons img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.playerBar {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-evenly;

  padding: 2px 0px;

  background-color: var(--primary_gray);

  border-radius: 16px;
}

.audioInfo {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  margin: 20px 20px;

  width: 90ch;
  max-width: 90ch;

  white-space: nowrap;
  overflow: hidden;
}

.audioInfo a:hover {
  opacity: 60%;
  transition: 0.2s;
}

.audioInfo-title-text {
  font-weight: 700;
  margin: 0;
}

.audioInfo-title {
  color: white;
  text-decoration: none;
}

.audioInfo-channel-text {
  font-weight: 400;
  margin: 0;
}

.audioInfo-channel {
  color: white;
  text-decoration: none;
}

.audioPlayer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 20px 20px;
}

.audioPlayer-thumbnail-image {
  object-fit: cover;
  border-radius: 10%;
}

.audioPlayer-thumbnail-image :hover {
  cursor: pointer;
}

.audioPlayer-progress {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 400;
  width: 13ch;
  max-width: 13ch;
}

.audioPlayer-progress p {
  margin: 14px 0px 0px 0px;
}

.audioPlayer-progress:hover {
  cursor: default;
}

.audioInfo-controls {
  display: flex;
  flex-direction: row;
  margin: 10px 20px;
}

.audioInfo-controls img {
  transition: 0.2s ease-in-out;
  margin-right: 20px;
}

.audioInfo-controls img:hover {
  /*
  -webkit-filter: invert(45%);
  filter: progid:DXImageTransform.Microsoft.BasicImage(invert='1');
  */
  transform: scale(1.1);
  cursor: pointer;
}

.extraControls {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 20px 20px;
}

.extraControls img {
  margin-left: 20px;
  transition: all 0.2s ease-in-out;
}

.extraControls img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.extraControls input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 8rem;
}

.extraControls input[type="range"]:focus {
  outline: none;
}

.extraControls input[type="range"]::-webkit-slider-runnable-track {
  background-color: hsl(0, 0%, 35%);
  border-radius: 5rem;
  height: 0.5rem;
}

.extraControls input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -4px;
  background-color: #dc143c;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
  transition: 0.05s;
}

.extraControls input[type="range"]:focus::-webkit-slider-thumb {
  outline: 2px solid #dc143c;
  outline-offset: 0.125rem;
}

.extraControls input[type="range"]::-moz-range-track {
  background-color: hsl(0, 0%, 35%);
  border-radius: 5rem;
  height: 0.5rem;
}

/* slider thumb */
.extraControls input[type="range"]::-moz-range-thumb {
  background-color: #dc143c;
  border: none;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
  transition: 0.05s;
}

.extraControls input[type="range"]:focus::-moz-range-thumb{
  outline: 2px solid #5c5657;
  outline-offset: 0.125rem;
}
